@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --primary-color:#651FFF;
    --section-padding: 100px 0px;
}


body{
    font-family: "Poppins", serif;
}

a{
    text-decoration: none;
}

.word-color{
    color: var(--primary-color);
}

header a{
    color: #5C5F6E;
    text-decoration: none;
}

.sec-heading{
    padding: var(--section-padding);
}

.banner{
    padding-top: 100px;
}

h2 {
    font-size: 25px;
    font-weight: 600;
}

/*banner*/
.banner{
    background-color: #E0F7FA;
}

.banner h1 {
    font-size: 56px;
    font-weight: 700;
}

/*IPFS */

.ipfs-box{
    background-color: #ECECFE;
    color: var(--primary-color);
    box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.2);
    border-radius: 30px;
    padding: 40px;
    }


.third-box, .team-work{
    position: relative;
}

.third-icon{
    position:absolute;
    left: 60px;
    top: 60px;
}

.teamCircle{
    position:absolute;
    z-index:-1;
    /* top: -10px;
    left: 85px; */

}

.design-wrapper > div > div:first-child > div,
.design-wrapper > div > div:last-child > div{
    padding: 60px 60px 0px 60px;
    border-radius: 30px;
}

@media only screen and (max-width: 576px) {
    .hide{
        display: none !important;
    }
}

@media only screen and (max-width: 768px) {
    .menuhide{
        display: none !important;
    }
}
